$fa-font-path: "/style"
@import "~bootstrap/scss/bootstrap"
@import '~font-awesome/scss/font-awesome.scss'
// https://material.io/color/#!/?view.left=0&view.right=0&primary.color=2196F3

.navbar
  background: #fff

.jumbotron
  background: #42a5f4
  border-radius: 0
  color: #fff

.card
  border-radius: 0

.card-img-top
  border-radius: 0

.card-footer
  background: #fff

.section:nth-child(2n+1)
  background: #f7f7f7

.thumbnail-16x9
  background-size: cover
  padding-top: 56.25%
  width: 100%
  background-position: center

.thumbnail-1x1
  background-size: cover
  padding-top: 100%
  width: 100%
  background-position: center

.bg-blue
  background: #42a5f4

.bg-inverse
  background: #343434
