$fa-font-path: "/style"
@import "~bootstrap/scss/bootstrap"
@import '~font-awesome/scss/font-awesome.scss'

.thumbnail-16x10
  background-size: cover
  padding-top: 62.5%
  width: 100%
  background-position: center

.thumbnail-1x1
  background-size: cover
  padding-top: 100%
  width: 100%
  background-position: center

body
  font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
  color: #24292e
  font-weight: 300
  font-size: 16px

section li
  margin-bottom: 0.5em

.navbar-toggleable-md > .container
  padding-left: inherit
  padding-right: inherit
  display: block

.navbar-overlay
  background: rgba(#fefefe, 0.92)

.navbar-light
  transition: all 0.2s ease
  .navbar-brand,
  .navbar-toggler
    color: #24292e

  .navbar-brand
    font-size: 1.2rem
    b
      font-weight: 800

.section:nth-child(2n+1)
  background: #f7f7f7

.bg-gradient
  $linear-gradient_1: linear-gradient( -10deg, rgba(#E1F5FE, 0) 90%, rgba(#E1F5FE, 0.1) 15%)
  $linear-gradient_2: linear-gradient(-100deg, rgba(#E1F5FE, 0) 90%, rgba(#E1F5FE, 0.1) 15%)
  $linear-gradient_3: linear-gradient(  20deg, rgba(#E1F5FE, 0) 15%, rgba(#E1F5FE, 0.1) 15%)
  $linear-gradient_4: linear-gradient( -20deg, rgba(#E1F5FE, 0) 15%, rgba(#E1F5FE, 0.1) 15%)
  $linear-gradient_5: linear-gradient(-100deg, rgba(#E1F5FE, 0) 15%, rgba(#E1F5FE, 0.1) 15%)
  $radial-gradient: radial-gradient(circle, #0277BD 0%, #0277BD 100%)
  background: $linear-gradient_1, $linear-gradient_2, $linear-gradient_3, $linear-gradient_4, $linear-gradient_5, $radial-gradient

.card
  overflow: hidden

.card-v
  background: rgba(#fff, 1)
  border: 0px solid rgba(#fff, 0.7)

.card-v,
.card-v a
  color: #24292e

.card-v a
  text-decoration: underline

.card-v hr
  border-color: #24292e

.card-v .card-title
  color: #24292e

.card-v .card-title,
.card-v dt
  font-weight: 800

.card-footer
  background: #fff
  padding: 0.65rem 1.25rem

  .text-muted
    color: #24292e !important
