- var contents = {}

-
  contents["common"] = {
    "name": "Masaki Kobayashi",
    "majorin": "筑波大学 図書館情報メディア研究科<br />図書館情報メディア専攻 (slis17)",
    "interests": [
      "Web",
      "Photo",
      "Aircraft"
    ],
    "links": [
      {
        "name": "blog.makky.io",
        "url": "https://blog.makky.io"
      },
      {
        "name": "www.u.tsukuba.ac.jp/~s1721668",
        "url": "https://www.u.tsukuba.ac.jp/~s1721668/"
      }
    ],
    "accounts": [
      {
        "name": "twitter",
        "url": "https://twitter.com/_Makky_"
      },
      {
        "name": "facebook",
        "url": "https://www.facebook.com/masaki.kobayashi.1485"
      },
      {
        "name": "instagram",
        "url": "https://www.instagram.com/makky3939/"
      },
      {
        "name": "slideshare",
        "url": "https://www.slideshare.net/masakikobayashi1485"
      }
    ]
  }

-
  contents["about"] = [
    {
      "title": "研究業績",
      "items": [
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹， 清水 伸幸， 森嶋 厚行. 科学技術振興機構 CREST 3プロジェクト合同シンポジウム，Jun. 2，2017 (ポスター発表)",
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹， 清水 伸幸， 森嶋 厚行. 第9回データ工学と情報マネジメントに関するフォーラム (DEIM)，2017",
        "購買履歴を用いたユーザ行動モデルの推定. 小林 正樹， 伏見 卓恭， 佐藤 哲司. 第8回データ工学と情報マネジメントに関するフォーラム (DEIM)，2016",
        "調理手順の頻出パターンに基づく入力支援手法の提案. 小林 正樹， 伏見 卓恭， 佐藤 哲司. データ工学研究会 (DE)，2015"
      ]
    },
    {
      "title": "受賞等",
      "items": [
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法，第9回データ工学と情報マネジメントに関するフォーラム，学生プレゼンテーション賞",
        "EscapeGoat:筑波大学 情報学群 知識情報・図書館学類生向けの卒業判定アプリ，株式会社ハシゴ Gitソースコンテスト2016，銅賞",
        "pixiv 2015 SPRING BOOT CAMP，準優勝",
        "震災について考えるサイト，第15回 全日本中学高校Webコンテスト ThinkQuest JAPAN，プラチナ賞 (Yahoo!基金特別賞)",
        "Google StreetViewを用いた図書情報システムの開発，第9回 北関東３県工業高校生徒研究発表大会，最優秀賞",
        "Google StreetViewを用いた図書情報システムの開発，第64回 生徒研究発表会，最優秀賞",
        "Google StreetViewを用いた図書情報システムの開発，第２回 立命館・全国高校生ソフトウェア創作コンテスト ICT Challenge+R 2012，最優秀賞"
      ]
    },
    {
      "title": "インターンシップ・アルバイト等",
      "items": [
        "Preferred Networks(Internship)，2017/08 - 09",
        "CyberAgent(Summer Internship 2015)，2015/09",
        "国立情報学研究所，2015/08",
        "pixiv(2015 SPRING BOOT CAMP)，2015/03"
      ]
    }
  ]

-
  contents["portfolios"] = [
    {
      "title": "EscapeGoat",
      "description": "筑波大学 知識情報・図書館学類生向けの卒業判定アプリ",
      "thumbnails": [
        '/image/portfolio/escapegoat_1.png',
        '/image/portfolio/escapegoat_2.png',
        '/image/portfolio/escapegoat_3.png'
      ],
      "links": [
        {
          "title": 'EscapeGoat',
          "url": 'http://app.makky.io/escapegoat/'
        },
        {
          "title": 'klis向け卒業判定アプリを作った | blog.makky.io',
          "url": 'http://blog.makky.io/articles/2015/12/07/escapegoat/'
        },
        {
          "title": '卒業判定アプリで賞金をもらった話 | blog.makky.io',
          "url": 'http://blog.makky.io/articles/2016/06/01/git-sourcecode-contest/'
        }
      ]
    },
    {
      "title": "LibrarySearch",
      "description": "Google StreetViewを用いた蔵書検索システム",
      "thumbnails": [
        '/image/portfolio/librarysearch_1.png'
      ],
      "links": [
        {
          "title": '学校図書室の本を“ストリートビュー”で探す、高校生がシステムを開発 | カレントアウェアネス・ポータル',
          "url": 'http://current.ndl.go.jp/node/22037'
        }
      ]
    }
  ]

-
  contents["photos"] = [
    {
      "year": 2017,
      "albums": [
        {
          "month": 3,
          "thumbnail": '/image/photo/2017/3.jpg',
          "link": 'https://goo.gl/photos/hazaa73xiT7MsKMfA'
        },
        {
          "month": 2,
          "thumbnail": '/image/photo/2017/2.jpg',
          "link": 'https://goo.gl/photos/11akBFt3XeRPCgMF7'
        },
        {
          "month": 1,
          "thumbnail": '/image/photo/2017/1.jpg',
          "link": 'https://goo.gl/photos/6Qfn2GjYEWJ5DMFJ6'
        }
      ]
    },
    {
      "year": 2016,
      "albums": [
        {
          "month": 12,
          "thumbnail": '/image/photo/2016/12.jpg',
          "link": 'https://goo.gl/photos/N8juqyA6dnsiNzg67'
        },
        {
          "month": 11,
          "thumbnail": '/image/photo/2016/11.jpg',
          "link": 'https://goo.gl/photos/iNEDaCr92Y7hDxi88'
        },
        {
          "month": 10,
          "thumbnail": '/image/photo/2016/10.jpg',
          "link": 'https://goo.gl/photos/gHi1qfrJVDrki9oT8'
        },
        {
          "month": 9,
          "thumbnail": '/image/photo/2016/9.jpg',
          "link": 'https://goo.gl/photos/d93MYvpmuQh9JFQR6'
        },
        {
          "month": 8,
          "thumbnail": '/image/photo/2016/8.jpg',
          "link": 'https://goo.gl/photos/Sk6L8U5GYtGRD4At5'
        },
        {
          "month": 7,
          "thumbnail": '/image/photo/2016/7.jpg',
          "link": 'https://goo.gl/photos/2hztzX5WbNczUojUA'
        },
        {
          "month": 6,
          "thumbnail": '/image/photo/2016/6.jpg',
          "link": 'https://goo.gl/photos/o9hdTEBvvDtpckiZ7'
        },
        {
          "month": 5,
          "thumbnail": '/image/photo/2016/5.jpg',
          "link": 'https://goo.gl/photos/cPDvQTFREUMQ2Vtf9'
        },
        {
          "month": 4,
          "thumbnail": '/image/photo/2016/4.jpg',
          "link": 'https://goo.gl/photos/HhV88RUBCdf2QDXz8'
        },
        {
          "month": 3,
          "thumbnail": '/image/photo/2016/3.jpg',
          "link": 'https://goo.gl/photos/2hG6tT17d4GydcTB6'
        },
        {
          "month": 2,
          "thumbnail": '/image/photo/2016/2.jpg',
          "link": 'https://goo.gl/photos/bqaS1ugTQ8psaaGt5'
        },
        {
          "month": 1,
          "thumbnail": '/image/photo/2016/1.jpg',
          "link": 'https://goo.gl/photos/XLUVadDG4Sbw6vET6'
        }
      ]
    }
  ]