- var contents = {}

-
  contents["common"] = {
    "name": "Masaki Kobayashi",
    "majorin": "Ph.D. student at University of Tsukuba (Graduate School of Library, Information and Media Studies)",
    "research_topics": [
      "Human Computation,",
      "Crowdsourcing",
    ],
    "interests": [
      "Front-end Web,",
      "Site Reliability Engineering,",
      "Photograph"
    ],
    "links": [
      {
        "name": "blog.makky.io",
        "url": "https://blog.makky.io"
      },
      {
        "name": "www.u.tsukuba.ac.jp/~s1930533",
        "url": "https://www.u.tsukuba.ac.jp/~s1930533/"
      }
    ],
    "accounts": [
      {
        "name": "twitter",
        "url": "https://twitter.com/_Makky_"
      },
      {
        "name": "facebook",
        "url": "https://www.facebook.com/masaki.kobayashi.1485"
      },
      {
        "name": "instagram",
        "url": "https://www.instagram.com/makky3939/"
      },
      {
        "name": "slideshare",
        "url": "https://www.slideshare.net/masakikobayashi1485"
      },
      {
        "name": "desktop",
        "url": "https://speakerdeck.com/makky"
      }
    ]
  }

-
  contents["about"] = [
    {
      "title": "Publications",
      "items": [
        "Masaki Kobayashi, Kei Wakabayashi, Atsuyuki Morishima. Quality-aware Dynamic Task Assignment in Human+AI Crowd. To appear in the poster track of TheWebConf 2020.",
        "小林正樹, 若林啓, 森嶋厚行. タスク結果品質を考慮した人間+AIクラウドへのマイクロタスク割り当て. 第12回データ工学と情報マネジメントに関するフォーラム (DEIM)，2020.",
        "山下裕, 小林正樹, 若林啓, 森嶋厚行. クラウドソーシングにおけるAIを利用したタスク削減手法. 第12回データ工学と情報マネジメントに関するフォーラム (DEIM)，2020.",
        "鵜尾厚佑, 小林正樹, 松原正樹, 馬場雪乃, 森嶋厚行. 階層型のラベル付けマイクロタスクにおける能動学習戦略の比較. 第12回データ工学と情報マネジメントに関するフォーラム (DEIM)，2020.",
        "Kousuke Uo, Masaki Kobayashi, Masaki Matsubara, Yukino Baba, and Atsuyuki Morishima. Active Learning Strategies for Hierarchical Labeling Microtasks. IEEE HMData 2019. 2019.",
        "Masafumi Hayashi, Masaki Kobayashi, Masaki Matsubara, Toshiyuki Amagasa, and Atsuyuki Morishima. Crowdsourcing the Development of Selective AI for Human and Machine Data Processing: A Case Study. IEEE HMData 2019. 2019.",
        "小林 正樹, 若林 啓, 森嶋 厚行. 人間+AIクラウドにおけるマイクロタスク処理の効率化. WebDB Forum 2019論文集. 2019, p. 5-8.",
        "クラウドワーカの品質改善における参考回答提示の効果の分析. 小林 正樹，森田 ひろみ，松原 正樹，清水 伸幸，森嶋 厚行. 第11回データ工学と情報マネジメントに関するフォーラム (DEIM)，2019.",
        "機械学習の分類予測に基づく参考回答提示によるクラウドワーカの学習効果. 松原 正樹, 小林 正樹, 森嶋 厚行. 第11回データ工学と情報マネジメントに関するフォーラム (DEIM)，2019.",
        "Matsubara, M., Kobayashi, M. and Morishima, A.: A Learning Effect by Presenting Machine Prediction as a Reference Answer in Self-correction. The Second IEEE Workshop on Human-in-the-loop Methods and Human Machine Collaboration in BigData (IEEE HMData2018), pp. 3521－3527, Seattle, 2018.12",
        "Kobayashi, M., Morita, H., Matsubara, M., Shimizu, N. and Morishima, A.: An Empirical Study on Short- and Long-term Effects of Self-Correction in Crowdsourced Microtasks. Proc. of the sixth AAAI Conference on Human Computation and Crowdsourcing, pp.79－87, Zurich, 2018.7",
        "クラウドワーカの品質改善における他者回答提示の短期的・長期的効果. 小林 正樹，森田 ひろみ，松原 正樹，清水 伸幸，森嶋 厚行. 第10回データ工学と情報マネジメントに関するフォーラム (DEIM)，2018",
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹， 清水 伸幸， 森嶋 厚行. 科学技術振興機構 CREST 3プロジェクト合同シンポジウム，Jun. 2，2017 (ポスター発表)",
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹， 清水 伸幸， 森嶋 厚行. 第9回データ工学と情報マネジメントに関するフォーラム (DEIM)，2017",
        "購買履歴を用いたユーザ行動モデルの推定. 小林 正樹， 伏見 卓恭， 佐藤 哲司. 第8回データ工学と情報マネジメントに関するフォーラム (DEIM)，2016",
        "調理手順の頻出パターンに基づく入力支援手法の提案. 小林 正樹， 伏見 卓恭， 佐藤 哲司. データ工学研究会 (DE)，2015"
      ]
    },
    {
      "title": "Awards",
      "items": [
        "WebDB Forum 2019, 口頭発表 企業賞 (株式会社LIFULL賞, 株式会社FRONTEO賞), 2019-09-09",
        "日本学生支援機構 特に優れた業績による奨学金返還免除 (全額), 2019年5月",
        "筑波大学 図書館情報メディア研究科 研究科長表彰, 2019-03",
        "ワーカの成長を考慮した自己補正マイクロタスク割当て手法，第9回データ工学と情報マネジメントに関するフォーラム，学生プレゼンテーション賞",
        "EscapeGoat:筑波大学 情報学群 知識情報・図書館学類生向けの卒業判定アプリ，株式会社ハシゴ Gitソースコンテスト2016，銅賞",
        "pixiv 2015 SPRING BOOT CAMP，準優勝",
        "震災について考えるサイト，第15回 全日本中学高校Webコンテスト ThinkQuest JAPAN，プラチナ賞 (Yahoo!基金特別賞)",
        "Google StreetViewを用いた図書情報システムの開発，第9回 北関東３県工業高校生徒研究発表大会，最優秀賞",
        "Google StreetViewを用いた図書情報システムの開発，第64回 生徒研究発表会，最優秀賞",
        "Google StreetViewを用いた図書情報システムの開発，第２回 立命館・全国高校生ソフトウェア創作コンテスト ICT Challenge+R 2012，最優秀賞"
      ]
    },
    {
      "title": "Education",
      "items": [
        "Master of Informatics, March 2019. Department of Library, Information and Media Studies, Graduate School of Library, Information and Media Studies, University of Tsukuba. Advisors: Atsuyuki Morishima and Hiromi Morita.",
        "Bachelor of Library and Information Science, March 2017. College of Knowledge and Library Sciences, School of Informatics, University of Tsukuba. Advisor: Atsuyuki Morishima."
      ]
    },
    {
      "title": "Research Experience",
      "items": [
        "Research Assistant, University of Tsukuba. April 2019 - Present",
      ]
    },
    {
      "title": "Work Experience",
      "items": [
        "Preferred Networks inc., Part-time Engineer, 2017/10 - Present",
        "Arm Treasure Data inc., R&D Internship, 2018/08 - 09",
        "Preferred Networks inc., (Internship)，2017/08 - 09",
        "LINE Corporation., (Part-time Engineer)，2016/04",
        "CyberAgent inc., Internship (Summer Internship 2015)，2015/09",
        "National Institute of Informatics, Internship, 2015/08",
        "pixiv inc., Internship (2015 SPRING BOOT CAMP)，2015/03",
        "3-shake inc., Part-time Engineer, 2016/07 ~ 2017/08",
        "BearTail inc., Part-time Engineer, 2014/05 - 2015/03",
        "Has-key inc., Part-time Engineer. 2013/08 - 2017/03"
      ]
    },
    {
      "title": "Teaching Experience",
      "items": [
        "Teaching Assistant, Database Technology, University of Tsukuba. October 2019 - December 2019.",
        "Teaching Assistant, Introduction to Data Engineering, University of Tsukuba. April 2019 - July 2019.",
        "Teaching Assistant, Database Technology, University of Tsukuba. October 2018 - December 2018.",
        "Teaching Assistant, Introduction to Data Engineering, University of Tsukuba. April 2018 - July 2018."
      ]
    }
  ]

-
  contents["portfolios"] = [
    {
      "title": "LDA-board",
      "description": "Auto segmentation UI using LDA",
      "thumbnails": [
        '/image/portfolio/ldaboard_1.png',
      ],
      "links": []
    },
    {
      "title": "ChainerUI",
      "description": "User Interface for Chainer",
      "thumbnails": [
        '/image/portfolio/chainerui_1.png',
      ],
      "links": []
    },
    {
      "title": "EscapeGoat",
      "description": "筑波大学 知識情報・図書館学類生向けの卒業判定アプリ",
      "thumbnails": [
        '/image/portfolio/escapegoat_1.png',
        '/image/portfolio/escapegoat_2.png',
        '/image/portfolio/escapegoat_3.png'
      ],
      "links": [
        {
          "title": 'EscapeGoat',
          "url": 'http://app.makky.io/escapegoat/'
        },
        {
          "title": 'klis向け卒業判定アプリを作った | blog.makky.io',
          "url": 'http://blog.makky.io/articles/2015/12/07/escapegoat/'
        },
        {
          "title": '卒業判定アプリで賞金をもらった話 | blog.makky.io',
          "url": 'http://blog.makky.io/articles/2016/06/01/git-sourcecode-contest/'
        }
      ]
    },
    {
      "title": "LibrarySearch",
      "description": "Google StreetViewを用いた蔵書検索システム",
      "thumbnails": [
        '/image/portfolio/librarysearch_1.png'
      ],
      "links": [
        {
          "title": '学校図書室の本を“ストリートビュー”で探す、高校生がシステムを開発 | カレントアウェアネス・ポータル',
          "url": 'http://current.ndl.go.jp/node/22037'
        }
      ]
    }
  ]

-
  contents["photos"] = [
    {
      "year": 2017,
      "albums": [
        {
          "month": 9,
          "thumbnail": '/image/photo/2017/9.jpg',
          "link": 'https://photos.app.goo.gl/UD9gk47hiaw6fkkU2'
        },
        {
          "month": 8,
          "thumbnail": '/image/photo/2017/8.jpg',
          "link": 'https://photos.app.goo.gl/xZo8XBBinKuUmuqA3'
        },
        {
          "month": 7,
          "thumbnail": '/image/photo/2017/7.jpg',
          "link": 'https://goo.gl/photos/ndK1rxyF51unrNNC6'
        },
        {
          "month": 6,
          "thumbnail": '/image/photo/2017/6.jpg',
          "link": 'https://goo.gl/photos/sQMQhuTxEwUBkg1R6'
        },
        {
          "month": 5,
          "thumbnail": '/image/photo/2017/5.jpg',
          "link": 'https://goo.gl/photos/gqna17FWSUFUo3788'
        },
        {
          "month": 4,
          "thumbnail": '/image/photo/2017/4.jpg',
          "link": 'https://goo.gl/photos/ZGdu2ibT7aMrYx1f8'
        },
        {
          "month": 3,
          "thumbnail": '/image/photo/2017/3.jpg',
          "link": 'https://goo.gl/photos/hazaa73xiT7MsKMfA'
        },
        {
          "month": 2,
          "thumbnail": '/image/photo/2017/2.jpg',
          "link": 'https://goo.gl/photos/11akBFt3XeRPCgMF7'
        },
        {
          "month": 1,
          "thumbnail": '/image/photo/2017/1.jpg',
          "link": 'https://goo.gl/photos/6Qfn2GjYEWJ5DMFJ6'
        }
      ]
    },
    {
      "year": 2016,
      "albums": [
        {
          "month": 12,
          "thumbnail": '/image/photo/2016/12.jpg',
          "link": 'https://goo.gl/photos/N8juqyA6dnsiNzg67'
        },
        {
          "month": 11,
          "thumbnail": '/image/photo/2016/11.jpg',
          "link": 'https://goo.gl/photos/iNEDaCr92Y7hDxi88'
        },
        {
          "month": 10,
          "thumbnail": '/image/photo/2016/10.jpg',
          "link": 'https://goo.gl/photos/gHi1qfrJVDrki9oT8'
        },
        {
          "month": 9,
          "thumbnail": '/image/photo/2016/9.jpg',
          "link": 'https://goo.gl/photos/d93MYvpmuQh9JFQR6'
        },
        {
          "month": 8,
          "thumbnail": '/image/photo/2016/8.jpg',
          "link": 'https://goo.gl/photos/Sk6L8U5GYtGRD4At5'
        },
        {
          "month": 7,
          "thumbnail": '/image/photo/2016/7.jpg',
          "link": 'https://goo.gl/photos/2hztzX5WbNczUojUA'
        },
        {
          "month": 6,
          "thumbnail": '/image/photo/2016/6.jpg',
          "link": 'https://goo.gl/photos/o9hdTEBvvDtpckiZ7'
        },
        {
          "month": 5,
          "thumbnail": '/image/photo/2016/5.jpg',
          "link": 'https://goo.gl/photos/cPDvQTFREUMQ2Vtf9'
        },
        {
          "month": 4,
          "thumbnail": '/image/photo/2016/4.jpg',
          "link": 'https://goo.gl/photos/HhV88RUBCdf2QDXz8'
        },
        {
          "month": 3,
          "thumbnail": '/image/photo/2016/3.jpg',
          "link": 'https://goo.gl/photos/2hG6tT17d4GydcTB6'
        },
        {
          "month": 2,
          "thumbnail": '/image/photo/2016/2.jpg',
          "link": 'https://goo.gl/photos/bqaS1ugTQ8psaaGt5'
        },
        {
          "month": 1,
          "thumbnail": '/image/photo/2016/1.jpg',
          "link": 'https://goo.gl/photos/XLUVadDG4Sbw6vET6'
        }
      ]
    }
  ]