extends pug/layouts/default.pug

block content
  div(class='jumbotron')
    div(class='container')
      div(class='row justify-content-center')
        div(class='col-sm-8')
          h1 About

  div(class='container')

    div(class='row justify-content-center')
      div(class='col-sm-8')
        h2 研究業績 (国内会議論文)
        ul
          li ワーカの成長を考慮した自己補正マイクロタスク割当て手法. 小林 正樹， 清水 伸幸， 森嶋 厚行. 第9回データ工学と情報マネジメントに関するフォーラム (DEIM), 2017
          li 購買履歴を用いたユーザ行動モデルの推定. 小林 正樹， 伏見 卓恭， 佐藤 哲司. 第8回データ工学と情報マネジメントに関するフォーラム(DEIM2016)
          li 調理手順の頻出パターンに基づく入力支援手法の提案. 小林 正樹， 伏見 卓恭， 佐藤 哲司. データ工学研究会(DE2015)


        h2 受賞等
        ul
          li 株式会社ハシゴ Gitソースコンテスト2016 銅賞 EscapeGoat 筑波大学 情報学群 知識情報・図書館学類生向けの卒業判定アプリ
          li pixiv 2015 SPRING BOOT CAMP 準優勝
          li
            |第15回 全日本中学高校Webコンテスト ThinkQuest JAPAN
            |震災について考えるサイトプラチナ賞 Yahoo!基金特別賞, 公式
          li
            |第9回北関東３県工業高校生徒研究発表大会
            |Google StreetViewを用いた図書情報システムの開発 最優秀賞
          li
            |第64回生徒研究発表会
            |Google StreetViewを用いた図書情報システムの開発 最優秀賞
          li
            |第２回 立命館・全国高校生ソフトウェア創作コンテスト ICT Challenge+R 2012
            |Google StreetViewを用いた図書情報システムの開発 最優秀賞
      
        h2 学歴
        ul
          li 学士（図書館情報学）、2017年3月
          li 筑波大学 情報学郡 知識情報図書館学類
          li 卒業論文：「ワーカの成長を考慮した自己補正マイクロタスク割当て手法に関する研究」
          li 指導教員：森嶋厚行教授

        h2 インターンシップ・アルバイト等
        ul
          li CyberAgent Summer Internship 2015
          li 国立情報学研究所 インターンシップ
          li pixiv 2015 SPRING BOOT CAMP
          li beartail
          li Has-key,inc